h3{
  margin-top:15px   
}
.main{
    
    text-align: center;
    padding:5px 5px;
    width: 350px;
    border: none;
    background-color: #C0C0C0;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 5px grey;
   }
.screen{
    border-radius: 5px;
    margin:12px;
    padding:5px 10px;
    text-align: right;
    font-size: 1.8em;
    background-color:aliceblue;
}
p{
    font-size: 0.5em;
    margin: 0px 1px;
    font-family: monospace;
    
}
button{
    margin:7px;
    padding:10px;
    font-size: 1.5em;
    font-weight: bold;
    width: 65px;
    border-radius:10px;
    border:none;
    text-align: center;
    background-color:DarkSlateGray;
    box-shadow: 0 4px gray;
}
button:active{
    background-color: dimgray;
    box-shadow: 0 2px black;
    transform: translateY(2px);
}
button:focus {outline:0 !important;
}

#zero{
    
    margin-top: 5px;
    width: 150px;
    padding: 10px 2px;
    margin-right: 4px;
}
.lowbtn{
    position: relative;
    margin-right: 79px;
    margin-bottom: 20px;
}
.dot{
 margin-right: 12px
    
}
#equal{
    position: absolute;
    height: 122px;
}
